@font-face {
  font-family: bahij;
  src: url('../Bahij/Bahij_TheSansArabic-Light.ttf');
}
*{
  padding: 0;margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: bahij;

}

/*gallary*/
.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease,visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997;
  background-color: var(--icons-bg);
}
.fancybox-navigation .fancybox-button div {
  padding: 0px;
  background-color: var(--icons-bg);
  /* border-radius: 50%;
  width: 50px;height: 50px; */
}
.fancybox-button svg path {
  color: var(--font);
  font-size: 32px;
  padding: 32px;
}
.fancybox-button svg path:hover {
  color: var(--nav);
}
.fancybox-bg {
  background: #16302d;
}
.fancybox-thumbs__list a:before {
  border: 6px solid var(--nav);
}

.fancybox-thumbs__list {
  background-color: var(--icons-bg);
}
.fancybox-thumbs {
  background: var(--icons-bg);
}

/* ////////////// */




/* .me-3 {
  margin-right: 0 !important; 
} */

.nav-pills{
  background-color: #f6f6f6;
  border-radius: 8px;

}

.main-service .nav-pills .nav-link{
  margin: 20px 0;
  text-align: right;
}
.main-service .container .nav-link .img-cont {
  border-radius: 50%;
  border: 1px dashed var(--font-h);
  padding: 13px 15px;
}
.main-service .box-services2{
  display: none !important;
  border: none !important;
  /* display: flex !important; */
  display: none;


}
.main-service .box-services2 .btn-content{
  background-color: var(--nav) !important;
  border: none;outline: none;
}
.main-service .box-services2 .btn-content h3{
  font-size: 24px;
  font-weight: bold;
  color: var(--icons-bg);
}
.main-service .box-services2 .btn-content i{
  font-size: 32px;
  font-weight: bold;
  color: var(--icons-bg);
}
.main-service .box-services2 .nav{
  height: 200px;
  overflow: auto;
  flex-direction: column !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap;
}
.main-service .box-services2 .nav button{
  margin: 0px 0 !important;

}
.main-service .container .nav-link .img-cont img{
  filter: brightness(.6);
  width: 30px !important;
}
.main-service .container .nav-link.active .img-cont {
  background-color: var(--font-h);
}
.main-service .container .nav-link.active .img-cont img{
  filter: brightness(1);
}
.main-service .container .nav-link span:last-child{
  padding-right: 10px;
}
.nav-pills .nav-link {
  color: var(--p-font);
  font-size: 18px;
  font-weight: 400;
}
.nav-pills .nav-link.active {
  color: var(--font-h);
  background-color: #f6f6f6 !important;
  font-weight: bold;
}
.main-service .tab-content{
  padding-right: 10px;
}
.main-service .container .tab-content .row  h2{
  font-size: 24px;
  color: var(--font-h);
  font-weight: bold;
  border-right: 10px solid var(--font-h);
  padding: 15px 10px;
}
.main-service .container .tab-content .row  p{
  color: var(--p-font);
  font-size: 20px;
  padding: 10px 0;
}
ol, ul {
  padding-left: 0 !important; 
}
.main-service .container .tab-content .row ol li{
  counter-increment: counter;
}
.main-service .container .tab-content .row ol li::before{
  content: counter(counter);
  background-color: var(--font);
  color: var(--font-h);
  font-size: 20px;
  box-shadow: 0px 0px 15px #00000029;
  width: 42px;height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;align-items: center;
}
.main-service .container .tab-content .btn{
  background-color: var(--font-h);
  color: var(--font);
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  transition: .3s;
}
.main-service .container .tab-content .btn:hover{
  background-color: var(--nav);
}
/* ///////// */
.single-service .card{
  background-color: #f6f6f6df;
}
.single-service .btn{
  background-color: var(--font-h);
  color: var(--font);
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  transition: .3s;
}
.single-service .btn:hover{
  background-color: var(--nav);
  color: var(--font);
}



/* //////// */
.accordion-button:not(.collapsed) {
  color: var(--font) !important;
  background-color: var(--nav) !important;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
  position: absolute;
  left: 10px;
  margin-left: auto;
  color: var(--nav);
}
.faq .container .heading{
  color: var(--nav);
  font-size: 32px;
}
.faq .container .accordion-item .accordion-header button{
  font-size: 24px;
  color: var(--nav);
  font-weight: bold;
}
.accordion-button::after {
  margin-left: auto; 
  position: absolute;
  left: 10px;
  color: var(--nav);
}
.accordion-button:focus {
  color: var(--font-h);
  z-index: 3;
  border: none;
  outline: 0;
  box-shadow: var(--background) !important;
  background-color: var(--icons-bg);
}
.faq .container .accordion-body{
  font-size: 20px;
  color: var(--p-font);
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: var(--nav);
}
::-webkit-scrollbar-thumb{
  background-color: var(--icons-bg);
  height: 100px;
  border-radius: 8px;
}
/* main color */
:root{
  --nav: #16302d ;
  --font-h:#066868;
  --font:#fff;
  --p-font:#9196a1;
  --icons-bg: #a39d81;
  --background:  linear-gradient(0deg, var(--nav) 0%, #1A5851 100%) 0% 0% ;
  --icons-color: #b4b4b4;
  --black: #000;
}
body{
  direction: rtl;
}

/* header */
.navbar{
  background-color: var(--nav);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 1000;
  width: 100%;
}
.navbar-toggler-icon{
  filter: brightness(0) invert(1);
}
.navbar .container .navbar-brand  {
  width: 200px !important;
  height: 64px;
  display: flex;
  align-items: center;
}
.navbar .container ul li .nav-link{
  font-size: 18px !important;
  color: var(--font) !important;
  opacity: 50%;
  transition: .3s;
}
.navbar .container ul .nav-item:hover .nav-link{
  opacity: 1;
}
.navbar .container ul .nav-item .nav-link.active{
  opacity: 1;
}
.language{
  border: none;outline: none;
  background-color: transparent;
}
.dropdown-item {
  text-align: right !important;
}
.navbar .dropdown-menu  .dropdown-item:active{
  background-color: var(--icons-bg);
}
.navbar .dropdown-menu  .dropdown-item.active{
  background-color: var(--nav) !important;
}
/* bread-crumb */
.breadCrumb{
  background-color: var(--nav);
  padding: 120px 0 20px 0;
  direction: ltr;
}
.breadCrumb .container{
  display: flex !important;
  justify-content: end !important;
  
}
.breadCrumb .container li{
  font-size: 28px;
}
.breadCrumb .container .main{
  text-decoration: none;
  color: var(--icons-bg);
}
.breadCrumb .container .active{
  color: var(--font);
}

header{
  
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

}

header .overlay{
  position: absolute;
  top: 0;right: 0;
  background: linear-gradient(180deg, #16302D 0%, #1A5851 100%);
  opacity: .7;
  height: 100vh;
  width: 100%;
}
header .carousel{
  height: 100%;
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 4rem;
}
header .carousel-indicators{
  position: absolute;
  right: 75%;
  bottom: 35%;
  transform: translate(10%,35%);
    z-index: 2;
    display: flex !important;
    justify-content: flex-start ;
    align-items: center ;
    flex-direction: column;
}
header .carousel-indicators .icons i{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 50%;
  border: 1px solid var(--font);
  color: var(--font);
  font-size: 1rem;
  width: 40px;height: 40px;
  position: relative;
  transition: .3s;
}
header .carousel-indicators .icons i:hover{
  background-color: var(--font);
  color: var(--nav);
}
header .carousel-indicators .icons a{
  text-decoration: none;
}
header .carousel-indicators  .gap{

  width: 2px;height: 120px;
  background-color: var(--font);
  align-items: center;
}
header .carousel-caption .btns {
  display: flex !important;
  gap: 1.9rem;
}
header .carousel-indicators button{
  width: 10px !important;height: 10px !important;
  border-radius: 50%;
}

header .carousel-inner{
  width: 75% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  position: absolute;
  bottom: 10%;
}
header .carousel-inner .carousel-item {
  height: 100%;
  
}

header .carousel-caption{
  height: 50%;
  text-align: start;
}
header .carousel-caption .ask a{
  text-decoration: none;
  color: var(--nav);
  font-weight: bold;
}
header .carousel-caption .contact a{
  text-decoration: none;
  color: var(--font);
  font-weight: bold;
  transition: 1s;
}
header .carousel-caption .contact:hover a{
  text-decoration: none;
  color: var(--nav);
  font-weight: bold;
}
header .carousel-caption h3{
  font-size: 32px;
  margin-bottom: 32px;
}
header .under{
  position: absolute;
  bottom: -6%;right: 50%;
  transform: translate(50%,-6%);
  background-color: var(--font);
  width: 90px;height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;justify-content: center;
}
header .under .btn {
  width: 74px;height: 74px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px #00000036;
}
header .under .btn a{
  color: var(--nav);
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}


.whyUs {
  padding-top: 5rem !important;
}
.whyUs .container .row .service{
  border-radius: 20px;
  background-color: #f8f8f8;
  transition:all .3s ease;
}
.whyUs .container .row .service:hover{
  background: var(--background) !important;
  box-shadow: 0px 0px 20px #00000036;
}
.whyUs .container .row .service:hover .head h3{
  color: var(--font);
}
.whyUs .container .row .service p{
  color: #6e6e6e;
  opacity: 80%;
}
.whyUs .container .row .service:hover  p{
  opacity: 100%;
  color: var(--font);
}
.whyUs .container .row .service .head .icon {
  background-color: #A39D8110;
  border-radius: 10px;
  width: 66px;height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyUs .container .row .service:hover .head .icon{
  background-color: #eee;
}

.whyUs .container .row .service  h3{
  font-size: 22px;
  font-weight: bold;
  color: var(--nav);
}


.whoWe{
  background-color: #f6f6f6;
;
}
.whoWe .container{
  position: relative;
}
.whoWe .container .title .title-head h2{
  color: var(--nav);
  font-weight: bold;
}
.whoWe .container .title .title-head p{
  color: var(--p-font);
  font-size: 20px;
}
.whoWe .container .title .title-main{
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 25px;
  position: relative;
}
.whoWe .container .title .title-main .icon{
  width: 75px;height: 56px;
  background-color: var(--icons-bg);
  border-radius: 8px;
  display: flex;justify-content: center;align-items: center;
  position: absolute;
  top: 50%;right: 0%;
  transform: translate(50%,-50%);
}
.whoWe .container .title .title-main .icon img{
  filter: brightness(14) invert(0);
  width: 50%;
}
.whoWe .container .title .title-main h3{
  font-size: 22px;
  color: var(--nav);

}
.whoWe .container .title .title-main p{
  color: var(--p-font);
  font-size: 18px;
}

.whoWe .container .title .subtitle{
  padding: 15px 0;
  margin-bottom: 10px;
  padding-right: 48px;
}


.whoWe .container .video-container{
  width: 456px;height: 507px;
  border-radius: 0 0 50% 0;
  position: absolute;
  left: 0;top: 0;

}

.whoWe .container .video-container video{
  width: 100%;height: 507px;
  border-radius: 0 0 50% 0;
  position: relative;
  object-fit:fill;
}
.whoWe .container .video-container .play-pack button{
  width: 50px;height: 50px;
  position: absolute;
  top: 50%;right: -5%;
  transform: translate(-1%,-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 455;
}
.for-pause{
  width: 100%;height: 507px;
  border-radius: 0 0 50% 0;
  position: absolute;
  object-fit:fill;
  z-index: 444;
  filter: brightness(.5);
}
.for-pause.hide{
  display: none;
}
.whoWe .container .video-container .play-pack .play{
  background-color: var(--icons-bg);
  border: none;
  transition: .3s;
}
.whoWe .container .video-container .play-pack .play:hover{
  background-color: #77725b;
}
.whoWe .container .video-container .play-pack .pause{
  background-color: var(--font-h);
  border: none;
  transition: .3s;
}
.whoWe .container .video-container .play-pack .pause:hover{
  background-color: var(--nav);
}
.services{
  background: var(--background);
  
}
.services .container .head .col h2{
  color: var(--font);
  font-size: 32px;
}
.services .container .head .col a {
  display: flex;align-items: center;
  text-decoration: none;
  color: var(--font);
  font-size: 24px;
}
.services .container .head .col i{
  font-size: 35px;
}
.services .container .main-p{
  font-size: 20px;
  font-weight: 300;
  color: var(--font);
}
.services .container .row a {
  text-decoration: none;
  color: var(--icons-bg);
  font-size: 24px;
} 
.services .container .row  .more a .fas{
  font-size: 35px;
  color: var(--font);
  opacity: .5;
  transition: .3s;
}
.services .container .row  .more a .fas:hover{
  opacity: 1;
}
.services .container .row  .icon img{
  border: 1px dashed var(--font);
  border-radius: 50%;
}
.services .container .make-brdr .col-md-4:nth-child(3n+1),
.services .container .make-brdr .col-md-4:nth-child(3n+2){
  border-left: 2px dashed #5989c74b;
}
.services .container .make-brdr .col-md-4:nth-child(n+4){
  border-top: 2px dashed #5989c74b;
}
.services .container .row  h3{
  font-size: 24px;
  color: var(--font);
}
.services .container .row  p{
  font-size: 20px;
  color: var(--p-font);
  font-weight: 300;
}



 .essays .container .row .contain a {
  display: flex;align-items: center;
  text-decoration: none;
  color: var(--icons-bg);
  
}
.essays .container .row .contain a:hover {
  font-weight: bold;
  opacity: 1;
}
.essays .container .row .contain a i{
  font-size: 35px;
  opacity: .5;
  transition: .3s;
}
.essays .container .row .contain a i:hover{
  opacity: 1;
} 
.essays .container .row .contain .card-img{
  position: relative;
  overflow: hidden;
  border-radius: 19px;
 
}
.essays .row .contain .card-img img{
  width: 392px;height: 300px;
  border-radius: 19px;
  transition: all .6s ease;
}
.essays .container .row  .card-img img:hover {
  transform: scale(1.3);
}

.essays .row .contain .card-info .head{
  font-size: 24px;
  color: var(--nav);
  font-weight: bold;
}
.essays .row .contain .card-info .details{
  color: var(--p-font);
  font-weight: 300;
}
.essays .row .contain .card-info .details h4 ,p{
  font-size: 16px;
}
.essays .row .contain .card-info .details h4{
  color: var(--nav);
}
.essays .row .contain .span-title{
  position: absolute;
bottom: 3%;right: 3%;
background-color: var(--nav);
border-radius: 8px;
padding: 5px 10px;
border: none;
transition: .3s;
font-size: 18px;
text-align: center;
color: var(--font);
}
/* /////// */
/* single article */

.single-article .container .contain .card-img{
  position: relative;
  overflow: hidden;
  border-radius: 19px;
  filter: brightness(.5);
  margin-bottom: 20px;
}
.single-article .container .card-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-article .container .card-info .head{
  color: var(--font-h);
  font-size: 26px;
  font-weight: bold;
  
}
.single-article .container .card-info .details h4 ,
.single-article .container .card-info .details p{
  font-size: 18px;
}
.single-article .container .card-info .details h4{
  color: var(--nav);
}
.single-article .container .card-info .details p{
  color: var(--p-font);
}
.single-article .container .contain .subject p{
  font-size: 24px;
}
.single-article .contaier .contain2 .more{
  display: flex;align-items: center;
  text-decoration: none;
  color: var(--icons-bg);
}
.single-article .container  .contain2 .card-img{
  position: relative;
  overflow: hidden;
  border-radius: 19px;

}
.single-article  .contain2 .card-img img{
  width: 392px;height: 300px;
  border-radius: 19px;
  transition: all .6s ease;
}
.single-article .container .contain2 .card-img img:hover {
  transform: scale(1.3);
}
.single-article  .contain2 .card-info .head{
  font-size: 20px;
  color: var(--nav);
  font-weight: bold;
}
.single-article .row .contain2 .card-info .details{
  color: var(--p-font);
  font-weight: 300;
}
.single-article .row .contain2 .card-info .details h4 ,p{
  font-size: 16px;
}
.single-article .row .contain2 .card-info .details h4{
  color: var(--nav);
  font-size: 18px;
}
.single-article .row .contain2  .span-title{
  position: absolute;
bottom: 3%;right: 3%;
background-color: var(--nav);
border-radius: 8px;
padding: 5px 10px;
border: none;
transition: .3s;
font-size: 18px;
text-align: center;
color: var(--font);
}
.single-article .row .contain2 .more a{
  color: var(--icons-bg);
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 15px;
  transition: .3s;
}
.single-article .row .contain2 .more a:hover{
  font-weight: bolder;
}
/* /////// */





.heading  h2{
  font-size: 32px;
  color: var(--nav);
  font-weight: bold;
}
.heading  p{
  color: var(--p-font);
  font-size: 18px;
  padding-top: 10px;
}





.numbers {
  background-image: url('../images/numbers.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}
.numbers .container{
  margin:  8rem auto;
}
.numbers .card .items .triangle{
  border-bottom: 20px solid var(--nav);
  border-left: 20px solid transparent;
}
.numbers .name .icon{
  width: 52px;height: 52px;
  background-color: var(--nav);
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.numbers .name .icon i{
  font-size: 20px;
  color: var(--font);
}
.numbers .name h4{
  color: var(--nav);
  padding-right: 20px;
}
.numbers .items .data span{
  color: var(--nav);
}
.numbers .items .data i{
  color: var(--nav);
  font-size: 20px;
  margin-right: 8px;
}
.numbers .card:hover .icon{
  background-color: var(--icons-bg);
}
.numbers .card:hover span {
  color: var(--icons-bg);
}
.numbers .card:hover .data i{
  color: var(--icons-bg);
}
.numbers .card:hover .triangle{
  border-bottom: 20px solid var(--icons-bg);
}
.our-team{
  position: relative;
 
}
.our-team .item{
  
  overflow: visible !important;
  height: 400px !important;
  margin-top: 30px;
}
.our-team .card{
  width: 285px;height: 395px;
  border: none;border-radius: 8px;
  background-color: #f6f6f6;
  overflow: visible !important;
  position: relative;
}
.our-team .card img{
  width: 90%;height: 270px;
  border-radius: 8px;
  position: absolute;
  top: -1%;left: 50%;
  transform: translate(-50%,-10%);
  filter: brightness(1);
  transition: .3s;
}
.our-team .card:hover img{
  filter: brightness(.7);
}
.our-team .card .details-member{
  position: absolute;
  bottom: 39%;left: 2.5%;
  padding: 1rem 1rem;
  width: 95%;
  background: #a39d81d0 0% 0% no-repeat padding-box;
  border-radius: 0 0 8px 8px;
  transition: .3s;
  display: flex;
  justify-content: center;
  gap: 3rem;
  opacity: 0;
}
.our-team .card:hover .details-member{
  opacity: 1;
}
.our-team .card .details-member a{
  text-decoration: none;
  color: var(--font);
  font-size: 24px;
  transition: .3s;
}
.our-team .card .details-member a:hover{
  color: var(--font-h);
}
.our-team .card .text{
  margin-top: 270px;
  z-index: 44;
}
.our-team .card h3{
  color: var(--font-h);
  margin-bottom: 1rem;
}
.our-team .card h4{
  color: var(--p-font);
  margin-bottom: 40px;
}
.our-team .card .design{
  width: 30px;height: 30px;
  background-color: var(--font-h);
  border-radius: 0 15px 0 15px;
  position: absolute;
  left: 0;bottom: 0;
  transform: translate(-0%,-0%);
}
.owl-carousel .owl-nav button.owl-next{
  background: var(--font);
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  font-size: 20px;
  width: 52px;height: 52px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #00000036;
  position: absolute;
  top: 50%;left: 0%;
  transform: translate(-0%,-50%);
}
.owl-carousel .owl-nav button.owl-prev{
  background: var(--font);
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  font-size: 20px;
  width: 52px;height: 52px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #00000036;
  position: absolute;
  top: 50%;right: -1.8%;
  transform: translate(0%,-50%);
}

iframe{
  width: 100%;
  border-radius: 20px;
}
.our-contacts .card{
  display: flex;justify-content: center;align-items: center;
  border: none;
}
.our-contacts .row .brdr2:nth-child(2),
.brdr2:nth-child(3){
  border-right: 1px solid #b4b4b435;
}
.our-contacts .card i{
  font-size: 32px;
  color: var(--icons-bg);
  padding: 25px 0;
}
.our-contacts .card h4{
  font-size: 20px;
  color: var(--font-h);
  font-weight: bold;
  padding-bottom: 20px;
}
.our-contacts .card .nos {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: .5rem;
  direction: ltr;
}
.our-contacts .card a{
  font-size: 20px;
  color: var(--p-font);
  text-decoration: none;
  text-align: center;
  transition: .3s;
}
.our-contacts .card a:hover{
  font-weight: bold;
}

form .row .submit{
  background-color: var(--nav);
  color: var(--font);
  font-size: 24px;
}
form .row .submit:hover{
  background-color: var(--icons-bg);
}
.form-control:focus {
  border-color: var(--icons-bg);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #a39d8167;
}
form .checkbox-gap{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
} 
.form-check-input:checked {
  background-color: var(--font-h);
  border-color: var(--font-h);
}
.form-check-input:focus {
  border-color: #1b6d5a;
  box-shadow: 0 0 0 0.25rem rgba(7, 44, 32, 0.25); 
}
.form-check .form-check-input {
  float: right;
  margin-right: -1.5em;
}
.form-check {
  padding-right: 1.5em;
  padding-left: 0;
}
.ask-help{
  background: url('../images/advice.png') ; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}  
.ask-help .cons{
  font-size: 24px;
  color: var(--nav);
  font-weight: bold;
}
footer {
  background-color: #f3f1f16c;
  margin-top: 130px;
  position: relative;
  padding-top: 80px;
}
footer .img img{
  position: absolute;
  top: 0;left: 50%;
  transform: translate(-50%,-50%);
  width: 155px;height: 155px;
}
footer .content{
  margin: 30px 0;
}
footer .content a{
  text-decoration: none;
  color: var(--nav);
  font-size: 18px;
  padding: 0 10px;
  transition: .3s;
}
footer .content a:hover{
  font-weight: bold;
}
footer .media{
  padding: 20px 0 40px 0;
}
footer .media a{
  text-decoration: none;
  color: var(--p-font);
  font-size: 20px;
  padding: 0 5px;
  transition: .3s;
}
footer .media a:hover{
  color: var(--nav);
}


.gallary .photo{
  height: 310px;
  overflow: hidden;
}
.gallary .container .photo a{
  border-radius: 22px;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallary .container .photo img{
  width: 100%;height: 100%;
  border-radius: 22px;
  transition: .3s;
  object-fit: cover;
}
.gallary .container .photo:hover img{
  transform: scale(1.1);
}


.values .item{
  background-color: var(--font-h);
  margin-top: 30px;
  border-radius: 8px;
  width: 392px;
  color: var(--font);
  position: relative;
}
.values .item span{
  font-size: 30px;
  color: var(--font);
  background-color: var(--font-h);
  border: 3px solid var(--font);
  border-radius: 50%;
  padding: 0px 17px;
  position: absolute;
  right: 0;top: 1%;
  transform: translate(0%,-50%);
}
.values .item h3{
  font-size: 24px;
  padding-top: 60px;
}
.values .item p{
  font-size: 20px;
  margin: 20px 0;
}

.privacy p{
  font-size: 22px;
}
/* media query*/
@media (max-width: 991px) {
  .navbar .container .navbar-brand  {
    width: 100% !important;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .navbar .container .navbar-brand .collapse ul li .nav-link{
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  .navbar .container .navbar-brand  {
    width: 40% !important;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .navbar .container .navbar-brand .collapse ul li .nav-link{
    font-size: 16px !important;
  }
  .navbar .container .navbar-brand .collapse ul li{
    margin-bottom: 50px !important;
    display: flex;
    justify-content: center !important;
  }
  .services .container .main-p{
    width: 100% !important;
  }
  /*----------------- header media query ------------------------*/

header .carousel-inner{
  width: 75% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  position: absolute;
  bottom: 10%;
}
header .carousel-caption {
  position: absolute;
  right: 6%;
  bottom: 3.25rem;
  left: unset;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  width: 95% !important;
}
header .carousel-inner .carousel-item {
  height: 100%;
  
}
.whoWe .video-container{
  width: 95% !important;
}
.whoWe .title{
  margin-top: 560px;
}
.services .container .make-brdr .col-md-4:nth-child(n+2){
  border-top: 2px dashed #5989c74b;
  border-right: none;
}
form .checkbox-gap{
  gap: 1rem;
}
.main-service .box-services2{
  display: none !important;
}
.main-service .nav-pills .nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-service .container .nav-link .img-cont {
  padding: 15px 15px;
}
}

@media (max-width: 575px) {
  .values .container .row .w-75{
    width: 100% !important;
  }
  .navbar .container .navbar-brand  {
    width: 40% !important;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .navbar .container .navbar-brand .collapse ul li .nav-link{
    font-size: 16px !important;
  }
  .breadCrumb .container li{
    font-size: 20px;
  }
  .language{
    padding-right: 1rem !important;
  }
  header .carousel-caption {
    position: absolute;
    right: 6%;
    bottom: 9.25rem;
    left: unset;
    padding-top: 1.25rem;
    /* padding-bottom: 1.25rem; */
    color: #fff;
    width: 94% !important;
  }
  .fs-5{
    font-size: 15px !important;
  }
  header .carousel-caption .btns {
    gap: .9rem;
    font-size: 10px !important;
  }
  .services .container .head .col h2{
    font-size: 24px;
  }
  .services .container .head .col a {
    font-size: 18px;
  }
.services .container .make-brdr .col-md-4:nth-child(n+2){
  border-top: 2px dashed #5989c74b;
  border-right: none;
}
.our-team .container .row .w-75{
  width: 100% !important;
}
.numbers .container .row .w-75{
  width: 100% !important;
}
.whoWe .video-container{
  width: 95% !important;
}
.whoWe .title{
  margin-top: 560px;
}
.whoWe .container .title .title-head{
  padding: 0 30px;
}
.whoWe .container .title .title-main{
  margin-right: 50px;
  margin-left: 20px;
}
.our-contacts .row .brdr2:nth-child(2),
.brdr2:nth-child(3){
  border-top: 1px solid #b4b4b435;
}

.faq .container .heading{
  color: var(--nav);
  font-size: 24px;
}
.faq .container .accordion-item .accordion-header button{
  font-size: 14px;
  color: var(--nav);
  font-weight: bold;
}
form .checkbox-gap{
  gap: 1rem;
}
.main-service .tab-content{
  margin-top: 30px;
}
.main-service .container .heading p{
  width: 100% !important;
}
.main-service .box-services1{
  display: none !important;
}
.main-service .box-services2{
  display: flex !important;
  margin: 30px 0;
  /*  */
}
.main-service .box-services2 button{
  padding: 15px;
}
.main-service .nav-pills .nav-link{
  display: flex;
  flex-direction: row;
}
.main-service .container .nav-link .img-cont {
  padding: 10px 10px;
}
}
